*{
  margin: 0;
  padding: 0; 
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container{
  width: 100%;
  min-width: 100vh;
  padding-left: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar{
  width: 100%;
  padding-right: 8%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.logo{
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}
.menu-icon{
  width: 25px;
  cursor: pointer;
  display: none;
}
:root{
  --bg-primary: #fff;
  --warna-h1: #000;
}
.dark-mode{
  --bg-primary: #0f1734;
  --warna-h1: #fff;
}
body{
  font-family: "Inter", serif;
  background-color: var(--bg-primary);
}
h1, h2, h3, h4, h5, h6, p .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Inter', sans-serif;
  /* font-weight: 500; */
  /* font-style: normal; */
  /* color: #000; */
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}
nav{
  flex: 1;
  text-align: right;
  vertical-align: text-top;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  vertical-align: text-top;
}
nav ul li a{
  text-decoration: none;
  color: var(--warna-h1);;
  font-size: 14px;
  vertical-align: text-top;
}
nav ul li a:hover{
  color: #365ff0;
}
check-box{
  justify-content: center;
  display: flex;
  align-items: center;
}
input[type="checkbox"]{
  display: none;
  visibility: hidden;
}
input[type="checkbox"]:checked ~ .check:before{
  transform: translateX(20px);
}
input[type="checkbox"]:checked ~ .check:before{
  background-color: #1c317c;
  box-shadow: 0 0 0 50000px #ffffff;
}
.check:before,
.check:after {
  border-radius: 50%;
  content: '';
  height: 16px;
  position: absolute;
  top: 2px;
  transition: transform 1.5s ease;
  width: 16px;
}
.check:before {
  background-color: #ffffff;
  left: 2px;
}
.check {
  background-color: #1c317c;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  height: 20px;
  overflow: hidden;
  position: relative;
  transition: background-color 0.5s ease-in, box-shadow 0.5s ease-in;
  margin-left: 20px;
  width: 40px;
}
h1{
  padding-left: 24px;
  font-size: 24px;
  font-weight: 700;
  color: var(--warna-h1);
}
.row{
  display: flex;
  justify-content: space-between;
  padding-right: -8%;
  align-items: center;
  margin: 100px 0;
}
.col-1{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
  color: var(--warna-h1);
}
.col-1 h2{
  font-size: 54px;
  font-weight: 700;
  
}
.col-1 h3{
  font-size: 30px;
  color: #707070;
  font-weight: 300;
  margin: 20px 0 10px;
  color: var(--warna-h1);
}
.col-1 p{
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 200;
  color: var(--warna-h1);
}
.col-1 h4{
  margin: 30px 0;
  font-size: 20px;
}
button{
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #526bfb, #1c317c);
  border-radius: 6px;
  cursor: pointer;
  transition: width 2.0s;
}
button img{
  width: 30px;
  display: none;
}
button:hover img{
  display: block;
}
button:hover{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.col-1::after{
  content: '';
  width: 10px;
  height: 57%;
  background: linear-gradient(#526bfb, #1c317c);
  position: absolute;
  left: -40px;
  top: 8px;
}
.col-2{
  position: relative;
  right: 60px;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.col-2 .controller{
  width: 90%;
}
.col-3{
  position: relative;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
.col-3 .gambar{
  width: 90%;
}
.color-box{
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(#526bfb, #1c317c);
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 80%;
  z-index: -1;
  transform: translateX(150px);
}
.add-btn img{
  width: 35px;
  margin-bottom: 5px;
}
.add-btn{
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.social-links{
  text-align: center;
  padding-right: 8%;
  box-sizing: border-box;
}
.social-links a{
  display: contents;
}
.social-links img{
  height: 20px;
  margin: 20px;
  cursor: pointer;
}
footer {
  background-color: #1c317c;
  height: auto;
  padding-top: 40px;
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h2{
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  color: #fff;
  max-width: 750px;
  margin: 3px auto;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
}

.socials a i{
  font-size: 1.1rem;
}

.socials a:hover i{
  color: #365ff0;
}

.footer-bottom{
  background-color:#0f1734;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  color: #fff;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

/* table */

h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
}
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 8px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 8px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.panel-container{
  background: linear-gradient(to right, #232526, #414345);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}

.rounded-circle {
  border-radius: 50%;
}

.text-white {
  color: white;
}

.fs-15px {
  font-size: 15px;
}