*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #fcfcfc;
  --warna-h1: #000;
  --offer-h1: #1734a0;
  --text-offer: #000;
  --btn-color1: #3f56da;
  --btn-color2: #365ff0;
}

.dark-mode {
  --bg-primary: #0f1734;
  --bg-secondary: #0a1025;
  --warna-h1: #fff;
  --offer-h1: #fff;
  --text-offer: #f7f7f7;
  --btn-color1: #3f56da;
  --btn-color2: #365ff0;
}

.container{
  width: 100%;
  min-width: 100vh;
  overflow: hidden;
  background-color: var(--bg-primary);
}

.navbar{
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  align-items: center;
}

.logo{
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

body{
  font-family: "Inter", serif;
  background-color: var(--bg-secondary);
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 120px; /* Set same as footer's height */
}

h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Inter', sans-serif;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  color: var(--warna-h1);
}

nav{
  font-family: 'Inter';
  flex: 1;
  text-align: right;
  vertical-align: text-top;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  vertical-align: text-top;
}
nav ul li a{
  text-decoration: none;
  color: var(--warna-h1);
  font-size: 14px;
  vertical-align: text-top;
}
nav ul li a:hover{
  color: var(--btn-color2);
}
check-box{
  justify-content: center;
  display: flex;
  align-items: center;
}
input[type="checkbox"]{
  display: none;
  visibility: hidden;
}
input[type="checkbox"]:checked ~ .check:before{
  transform: translateX(20px);
}
input[type="checkbox"]:checked ~ .check:before{
  background-color: #1c317c;
  box-shadow: 0 0 0 50000px #ffffff;
}
.check:before,
.check:after {
  border-radius: 50%;
  content: '';
  height: 16px;
  position: absolute;
  top: 2px;
  transition: transform 1.5s ease;
  width: 16px;
}
.check:before {
  background-color: #ffffff;
  left: 2px;
}
.check {
  background-color: #1c317c;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  height: 20px;
  overflow: hidden;
  position: relative;
  transition: background-color 0.5s ease-in, box-shadow 0.5s ease-in;
  margin-left: 20px;
  width: 40px;
}

h1{
  padding-left: 24px;
  font-size: 24px;
  font-weight: 700;
  color: var(--warna-h1);
}

.categories{
  margin: 20px 0;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  transition: transform 0.5s;
}

.col-3 img{
  width: 100%;
}

.col-3:hover{
  transform: translateY(-5px);
}

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 30px;
  transition: transform 0.5s;
}

.col-4 img{
  width: 100%; 
}

.col-4:hover{
  transform: translateY(-5px);
}

.col-4 h4{
  font-weight: 600;
  font-size: 16px;
}

.col-4 p{
  font-size: 14px;
}

.title-category{
  text-align: center;
  margin: 0 auto 30px;
  position: relative;
  line-height: 60px;
}

.title-category::after{
  content: '';
  background: #1c317c;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

button{
  width: 170px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, var(--btn-color1), var(--btn-color2));
  border-radius: 6px;
  cursor: pointer;
  transition: width 2.0s;
}

button:hover{
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.row-2{
  justify-content: space-between;
  margin: 40px auto 40px;
}

select{
  border: 1px solid #1c317c;
  padding: 5px;
}

select:focus{
  outline: none;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #3f56da;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* FOOTER */
footer {
  background-color: #1c317c;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding: 30px 100px;
  flex: 1;
  text-align: right;
}

footer ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.footer-logo {
  font-size: 20px;
  font-weight: 500;
  float: left;
}

.footer-list {
  font-size: 16px;
  float: inline-end;
}