*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins'
}

input:focus {
    outline: none;
}

.container-header{
    margin-right:80px;
    margin-top:30px;
    width: 1300px;
}


.container-header li{
    float:right;
    width:110px;
    height: 35px;
    list-style: none;
    font-size:16px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top:10px;
    cursor: pointer;
}

.sign-in{
    background-color:#208bff;
    border-radius: 5px;
    color:white;
}

/* MAIN  */

main{
    padding-top: 80px;
}

.main-container{
    width: 100%;
    height:527px;
}

.left-container{
    width: 50%;
    float:left;
}

.left-image{
    margin-top:50px;
    margin-right:100px;
    float:right;
    width:250px;
    height:340px;
    border-radius: 0px 50px;
    border-width: thin;
    background: url('./assets/Plays.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.right-container{
    width: 50%;
    float:right;
}

.right-content{
    margin-top:60px;
    margin-left: 30px;
}

.right-content h2{
    font-weight: 500;
    margin-bottom:20px;
}

input{
    height:37px;
    width: 44%;
    background-color: #f3f3f3;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }


#Sign-in {
    margin-top:20px;
    width: 44%;
    height:38px;
    background-color: #208bff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }

#Sign-Up{
    margin-top:20px;
    width: 44%;
    height:38px;
    background-color: #f3f3f3 ; 
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

