* {
  font-family: 'Inter';
  padding: 0;
  margin: 0;
}

/*NAVBAR */

.navbar {
  width: 100%;
  padding: 0 8%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #fcfcfc;
  --warna-h1: #000;
  --btn-color: #365ff0;
  --bg-border: rgba(28, 49, 124, 1);
  --bg-box: #fcfcfc;
  --bg-info: #ecf0f1;
}

.dark-mode {
  --bg-primary: #0f1734;
  --bg-secondary: #0a1025;
  --warna-h1: #fff;
  --btn-color: #365ff0;
  --bg-border: rgba(255, 255, 255, 1);
  --bg-box: #0a1025;
  --bg-info: #ecf0f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p .h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Inter", serif;
  background-color: var(--bg-secondary);
  position: relative;
}

nav {
  flex: 1;
  text-align: right;
  vertical-align: text-top;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  vertical-align: text-top;
}

nav ul li a {
  text-decoration: none;
  color: var(--warna-h1);
  font-size: 14px;
  vertical-align: text-top;
}

nav ul li a:hover {
  color: #365ff0;
}

check-box {
  justify-content: center;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

input[type="checkbox"]:checked~.check:before {
  transform: translateX(20px);
}

input[type="checkbox"]:checked~.check:before {
  background-color: #1c317c;
  box-shadow: 0 0 0 50000px #ffffff;
}

.check:before,
.check:after {
  border-radius: 50%;
  content: '';
  height: 16px;
  position: absolute;
  top: 2px;
  transition: transform 1.5s ease;
  width: 16px;
}

.check:before {
  background-color: #ffffff;
  left: 2px;
}

.container-half {
  position: relative;
  top: 20%;
  margin: auto;
  max-width: 720px;
}

.check {
  background-color: #1c317c;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  height: 20px;
  overflow: hidden;
  position: relative;
  transition: background-color 0.5s ease-in, box-shadow 0.5s ease-in;
  margin-left: 20px;
  width: 40px;
}

.navbar h1 {
  padding-left: 24px;
  font-size: 21px;
  font-weight: 600;
  color: var(--warna-h1);
}

.container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--bg-primary);
}

.header {
  font-weight: 600;
  font-size: 26px;
  margin: 50px 0;
  color: var(--warna-h1);
}

.profile-info {
  margin-bottom: 30px;
  border-top: 2px solid var(--bg-border);
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: var(--bg-box);
}

.profile-info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 8px 15px;
}

.info {
  font-size: 16px;
  font-weight: 500;
  color: var(--warna-h1);
}

.info-fields {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #ecf0f1;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.info-update {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 6px 0px 6px 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
  border: none;
  color: rgba(0, 0, 0, 0.8);
}

input[type="file"] {
  margin-bottom: 20px;
  margin-top: 10px;
  position: relative;
  width: 250px;
  padding: 8px;
  border-radius: 5px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  cursor: pointer;
}

.info-pass {
  text-align: center;
  color: gray;
  font-size: 20px;
}


.button-submit {
  padding: 5px 5px;
  color: #FFF;
  background-color: #365ff0;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100px;
  border: none;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
}

button.button-riwayat {
  padding: 5px 5px;
  color: #FFF;
  background-color: #365ff0;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: none;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  cursor: pointer;
  margin-bottom: 10px;
}

.riwayat {
  font-size: 22px;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #1c317c;
  height: auto;
  padding-top: 40px;
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h2{
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  color: #fff;
  max-width: 750px;
  margin: 3px auto;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
}

.socials a i{
  font-size: 1.1rem;
}

.socials a:hover i{
  color: #365ff0;
}

.footer-bottom{
  background-color:#0f1734;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  color: #fff;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}