*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    overflow-x: hidden;
}

input:focus {
    outline: none;
}

.container-header{
    margin-right:80px;
    margin-top:30px;
}


.container-header li{
    float:right;
    width:110px;
    height: 35px;
    list-style: none;
    font-size:16px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top:10px;
    cursor: pointer;
}

.sign-in{
    background-color:#208bff;
    border-radius: 5px;
    color:white; 
    transition: background 0.3s ease-in-out;
}


main{
    padding-top: 80px;
}

.main-content{
    padding: 0, 150px;
}

.main-container {
    margin: auto;
    justify-content: center;
    max-width: 500px;
}

.main-container input{
    width: 100%;
}

.main-container h1{
    font-weight: 500;
    margin-bottom:20px;
}

input[type="text"]{
    height:37px;
    background-color: #f3f3f3;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type="password"]{
    height:37px;
    background-color: #f3f3f3;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=file] {
    height:70px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#Sign-up{
    margin-top:20px;
    height:38px;
    width: 100%;
    background-color: #208bff; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#Back-sign{
    margin-top:20px;
    height:38px;
    width: 100%;
    background-color: #f3f3f3; 
    border: none;
    color: #000000 ;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}


.file-dummy{
    border-radius: 5px;
    height:50px;
    padding-top: 20px;
    width: 44%;
    color: white;
    background-color: #208bff;
    border: 2px dashed blue;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

.success {
    display: none;
}

.clear {
    clear: both;
}

.overflow-x-hidden {
    overflow: hidden;
}